body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  position: relative;
}

body {
  background-color: #c4cfa3;
}

#game-board {
  border-radius: 100px;
  display: grid;
  /* grid-template-columns and rows are set dynamically via JavaScript */
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #525252;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #9aa874;
  display: none;
}

.game-border-3,
#logo {
  background-color: #c4cfa3;
}

.snake {
  background-color: #414141; /* Added contrasting background color */
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}

#logo {
  position: absolute;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

#game-mode-selection {
  position: absolute;
  top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-mode-selection button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: #414141;
  color: #abb78a;
  border: 2px solid #abb78a;
  border-radius: 5px;
  font-family: 'VT323', monospace;
}

#game-mode-selection button:hover {
  background-color: #abb78a;
  color: #414141;
}